@charset "UTF-8";

$font_family_default: 'Segoe UI', 'Open Sans', Tahoma, Arial, sans-serif;
$game_font: 'Press Start 2P', cursive;
$tile_letter_font: Fantasy, Tahoma, Arial, sans-serif;

$wrapper_width: 904px;
$box_width: 90px;
$box_height: 90px;

